<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/index :: baseheader}">
</head>
<body>
	<div th:insert = "~{/index :: scroll-block}"></div>
	<div th:insert = "~{/index :: logo-block}"></div>
	<div th:insert= "~{/index :: search}"></div>
	<div class="sticky-top" th:insert = "~{/index :: navbar}"></div>
	<div th:insert="~{/route :: routemap}"></div>

	<div th:insert = "~{/index :: supportus}"></div>
	<div th:insert = "~{/index :: footer}"></div>
<script>
if(typeof window !== 'undefined'){
    document.addEventListener("scroll",()=>{
      var rootelement = document.documentElement
      var scrolltotal = rootelement.scrollHeight-rootelement.clientHeight
      if(rootelement.scrollTop/scrolltotal>0.1){
        document.getElementById('scrolltop').style.opacity="1"
      }
      else{
        document.getElementById('scrolltop').style.opacity="0"
      }
    })
  }
  const scrolltotop = ()=>{
    var rootelement = document.documentElement
    rootelement.scrollTo({
      top:0,
      behavior:"smooth"
    })
  }

  if(typeof window !== 'undefined'){
	    const navbar = document.querySelector('nav');
	    const logo = document.querySelector('h3')
	  
	    document.addEventListener("scroll",()=>{
	      var rootelement = document.documentElement
	      var scrolltotal = rootelement.scrollHeight-rootelement.clientHeight
	      if(rootelement.scrollTop/scrolltotal>0.1){
	        navbar.classList.add("nav-scroll");
	        navbar.classList.remove("container-lg");
	        logo.classList.remove("d-none")
	      }
	      else{
	        navbar.classList.remove("nav-scroll");
	        navbar.classList.add("container-lg");
	        logo.classList.add("d-none")
	      }
	    });
	  (()=>{
	    var rootelement = document.documentElement
	    rootelement.scrollTo({
	      top:0,
	      behavior:"smooth"
	    })
	  })();
	}
</script>
</body>
</html>