<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/index :: baseheader}">
</head>
<body>
	<div th:insert = "~{/index :: scroll-block}"></div>
	<div th:insert = "~{/index :: logo-block}"></div>
	<div th:insert= "~{/index :: search}"></div>
	<div class="sticky-top" th:insert = "~{/index :: navbar}"></div>
	<div th:insert="~{/route :: routemap}"></div>


      <section class="container-fluid p-lg-5 team-block">
      <p class="text-center mb-5">Our teachers and staff are selected xxxx xxxxx xxxxxx xxxxxxxx xxxxxx</p>
          <div class="row rounded bg-light mx-2 mb-5">
            <div class="col-2 p-2 border rounded border-end-0">
            <img th:src="@{/images/person.jpg}"
             class="p-0 m-0 rounded img-fluid" alt="fidel etty" />
            </div>
            <div class="col-3 col-lg-5 p-1 border">
              <h5 class="fw-bold lh-lg text-center">Principal</h5>
              <p class="px-2 fw-light">xxxx xxxxx xxxx xxxx xxxxx xxxxx xxxxx xxxxxx xxxxx</p>
            </div>
            <div class="col-7 col-lg-5 p-2 border">
              <p class="fst-italic">Email: example@example.com</p>
              <p class="fst-italic">Email: example@example.com</p>
            </div>
          </div>
          <div class="row rounded bg-light mx-2 mb-5">
            <div class="col-2 p-2 border rounded border-end-0">
            <img th:src="@{/images/person.jpg}" 
            class="p-0 m-0 rounded img-fluid" alt="annika palmari" />
            </div>
            <div class="col-3 col-lg-5 p-1 border">
              <h5 class="fw-bold text-center">VP</h5>
              <p class="px-2 fw-light">xxxx xxxxx xxxx xxxx xxxxx xxxxx xxxxx xxxxxx xxxxx</p>
            </div>
            <div class="col-7 col-lg-5 p-2 border">
              <p class="fst-italic">Email: example@example.com</p>
              <p class="fst-italic">Email: example@example.com</p>
            </div>
          </div>
          <div class="row rounded bg-light mx-2 mb-5">
            <div class="col-2 p-2 border rounded border-end-0">
            <img th:src="@{/images/person.jpg}"
             class="p-0 m-0 rounded img-fluid" alt="fidel etty" />
            </div>
            <div class="col-3 col-lg-5 p-1 border">
              <h5 class="fw-bold text-center lh-lg">HOD</h5>
              <p class="px-2 fw-light">xxxx xxxxx xxxx xxxx xxxxx xxxxx xxxxx xxxxxx xxxxx</p>
            </div>
            <div class="col-7 col-lg-5 p-2 border">
              <p class="fst-italic">Email: example@example.com</p>
              <p class="fst-italic">Email: example@example.com</p>
            </div>
          </div>
          <div class="row rounded bg-light mx-2 mb-5">
          <div class="col-2 p-2 border rounded border-end-0">
            <img th:src="@{/images/person.jpg}" 
            class="p-0 m-0 rounded img-fluid" alt="annika palmari" />
            </div>
            <div class="col-3 col-lg-5 p-1 border">
              <h5 class="fw-bold lh-lg text-center">Teacher</h5>
              <p class="px-2 fw-light">xxxx xxxxx xxxx xxxx xxxxx xxxxx xxxxx xxxxxx xxxxx</p>
            </div>
            <div class="col-7 col-lg-5 p-2 border">
              <p class="fst-italic">Email: example@example.com</p>
              <p class="fst-italic">Email: example@example.com</p>
            </div>
          </div>
          <div class="row rounded bg-light mx-2 mb-5">
          <div class="col-2 p-2 border rounded border-end-0">
            <img th:src="@{/images/person.jpg}"
             class="p-0 m-0 rounded img-fluid" alt="annika palmari" />
            </div>
          <div class="col-3 col-lg-5 p-1 border">
              <h5 class="fw-bold lh-lg text-center">Teacher</h5>
              <p class="px-2 fw-light">xxxx xxxxx xxxx xxxx xxxxx xxxxx xxxxx xxxxxx xxxxx</p>
            </div>
            <div class="col-7 col-lg-5 p-2 border">
              <p class="fst-italic">Email: example@example.com</p>
              <p class="fst-italic">Email: example@example.com</p>
            </div>
          </div>
          <div class="row rounded bg-light mx-2 mb-5">
          <div class="col-2 p-2 border rounded border-end-0">
            <img th:src="@{/images/person.jpg}"
             class="p-0 m-0 rounded img-fluid" alt="annika palmari" />
            </div>
            <div class="col-3 col-lg-5 p-1 border">
              <h5 class="fw-bold lh-lg text-center">Teacher</h5>
              <p class="fw-light px-2">xxxx xxxxx xxxx xxxx xxxxx xxxxx xxxxx xxxxxx xxxxx</p>
            </div>
            <div class="col-7 col-lg-5 p-2 border">
              <p class="fst-italic">Email: example@example.com</p>
              <p class="fst-italic">Email: example@example.com</p>
            </div>
          </div>
      </section>

	<div th:insert = "~{/index :: supportus}"></div>
	<div th:insert = "~{/index :: footer}"></div>
<script>
if(typeof window !== 'undefined'){
    document.addEventListener("scroll",()=>{
      var rootelement = document.documentElement
      var scrolltotal = rootelement.scrollHeight-rootelement.clientHeight
      if(rootelement.scrollTop/scrolltotal>0.1){
        document.getElementById('scrolltop').style.opacity="1"
      }
      else{
        document.getElementById('scrolltop').style.opacity="0"
      }
    })
  }
  const scrolltotop = ()=>{
    var rootelement = document.documentElement
    rootelement.scrollTo({
      top:0,
      behavior:"smooth"
    })
  }

  if(typeof window !== 'undefined'){
	    const navbar = document.querySelector('nav');
	    const logo = document.querySelector('h3')
	  
	    document.addEventListener("scroll",()=>{
	      var rootelement = document.documentElement
	      var scrolltotal = rootelement.scrollHeight-rootelement.clientHeight
	      if(rootelement.scrollTop/scrolltotal>0.1){
	        navbar.classList.add("nav-scroll");
	        navbar.classList.remove("container-lg");
	        logo.classList.remove("d-none")
	      }
	      else{
	        navbar.classList.remove("nav-scroll");
	        navbar.classList.add("container-lg");
	        logo.classList.add("d-none")
	      }
	    });
	  (()=>{
	    var rootelement = document.documentElement
	    rootelement.scrollTo({
	      top:0,
	      behavior:"smooth"
	    })
	  })();
	}
</script>
</body>
</html>